body{
  overflow-x: hidden;
}

#navbar-location{
  padding-right: 200px;
  padding-left: 200px;
}


#li-d{
  font-size: 15px;
}

#card-group{
  padding-right: 200px;
  padding-left: 200px;
}

@media (max-width: 855px) {
  #card-group{
      text-align: center;
  }
}

#marcas{
  border-top: 11px solid #c7dce2 ;
  padding-right: 200px;
  padding-left: 200px;
}

@media (max-width: 1450px) {#marcas,#card-group, #navbar-location{
      padding-left: 100px;
      padding-right: 100px;
  }
}

@media (max-width: 1210px) {
  #marcas,#card-group, #navbar-location{
      padding-left: 25px;
      padding-right: 25px;
  }
}

.imagmarca{height: 70%; width: 70%;}

.footerfondo{background-color: #272e32;padding: 30px;}

.footermarcas{padding: 30px;}

.imagproducto{
  height: 80%;
  width: 80%;
}

#borde{border: 2px solid #000000;}

.f-text{
  display: inline; 
  color: #ffffff;
}

#textomarca{margin-left: 7%;}

@media (max-width: 840px) {
  #footeri{align-items: center;text-align: center;}
}